.Rproj.user
.Rhistory
.RData
.Ruserdata
Database_project
Billionaires1996,2001and2014updated
tax_revenue_from_1996_to_2000
tax_revenue_from_2001_to_2005
tax_revenue_from_2006_to_2010
tax_revenue_from_2011_to_2014
Instructions
Taxing_billionaires.html
Taxing_billionaires_files/